<h3><%= @item.title %></h3>
<div id="item-img">
<img class="img-show" src="<%= @item.image %>">
</div>
<h3>Asking Price: <%= @item.price %></h3>
<h3>Condition: <%= @item.condition %></h3>
<h3>Description: <%= @item.description %></h3>
<h3>Located at: <%= @item.item_location %></h3>

   
<button data-toggle="modal" data-target="#messageModal" style="display: inline" class="btn btn-primary">
 Ask Seller
</button>
<%= link_to "Browse all items", views_path %>
        
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	<div class="modal-dialog" role="document">
	    <div class="modal-content motra">
	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
	        	</button>
	        		<h4 class="modal-title text" id="myModalLabel">Send message</h4>
	      	</div>
	      		<div class="modal-body">
	      
					<%= form_tag do |f| %>
			    	
			 		<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
			   
					<% end %> 
				</div>
	  	</div>
	</div>
</div> 
               
<!-- modal ends -->
   
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
      handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
